
# Created by https://www.gitignore.io/api/c++
# Edit at https://www.gitignore.io/?templates=c++

### C++ ###

plazza
.clangd/
compile_commands.json
*.gcno
*.gcda
unit_tests

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.gitignore.io/api/c++

# Coverage files
*.gcno
*.gcda
unit_tests

# Clangd cache directory
.clangd

# Misc
.gdb_history
compile_commands.json
